body {
  background: #100E1D;
  color: white;
}
img {
  width: 100px;
}
/* div {
  background: #1E213A;

} */
.weather {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  gap : 20px;
}