body {
  margin: 0;
}
/* body {
  color: white;
  width: 100%;
  margin: 0;
}
img {
  width: 100px;
}
.weather {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dayWeather div {
  width: 138px;
  background: #1e213a;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  justify-content: center;
  align-items: center;
}
#temp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: grid;
  grid-template-areas: ' ';
  background: #100e1d;
}
.search {
  grid-area: search;
  background: #1e213a;
}
.dayToday {
  background: #1e213a;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather {
  grid-area: nextDay;
  background: #100e1d;
  width: 60%;
  margin-left: 2rem;
}
.dayWeather {
  display: flex;
  gap: 47px;
  flex-wrap: wrap;
}
.WeatherDetail {
  grid-area: detail;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  background: #100e1d;
}
.WeatherDetail article {
  width: 328px;
  height: 204px;
  background: #1e213a;
}
article p {
  font-size: 16px;
}
article p + p {
  color: #e7e7eb;
  font-size: 50px;
}
article {
  display: flex;
  flex-direction: column;
}
/* 
#root {
  padding-top: 4rem;
} */

/*
@media (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .dayWeather {
    margin-top: 8rem;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
  }
  .dayToday {
    width: 30%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .weather {
    width: 60%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
  }
  .covert {
    position: absolute;
    top: 2rem;
    right: 2rem;
    margin-bottom: 75px;
  }
  .covert button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e7e7eb;
    color: rgba(17, 14, 60, 1);
    font-size: 18px;
    font-weight: 700px;
  }
  .WeatherDetail {
    display: grid;
    grid-template-areas:
      ' wind  humid'
      ' visibility air';
    text-align: center;
  }
}
  */
/* .label_seacrh {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 459px;
  height: 1023px;
  background: rgba(30, 33, 58, 1);
  opacity: 1;
  display: block;
  padding-top: 4rem;
}
.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.label_seacrh input {
  width: 268px;
  height: 48px;
  background: rgba(30, 33, 58, 1);
  margin-right: 1rem;
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.label_seacrh input + button {
  background: rgba(60, 71, 233, 1);
  width: 86px;
  height: 48px;
  color: white;
}
.name_country button {
    width: 367px;
    height: 64px;
    margin-left: 46px;
    margin-right: 46px;
    background: rgba(30, 33, 58, 1);
    margin-bottom: 30px;
    color: white;
  }
.search_place {
  width: 161px;
  height: 40px;
  margin-top: 2rem;
  margin-bottom: 4rem;
} */
